body{
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    overflow-x:hidden;
	}
	 
	h1 {
	    font-family:"Montserrat";
	    font-weight:normal;
	    font-size: 2.4em;
	    text-align: center;
	    color: #fff;
	    margin: 0;
	    padding: 0;
	    position:relative;
	    top:-140px;
	}
	 
	h2 {
	   font-family:"Montserrat";
	   font-weight: normal;
	   font-size: 2.5em;
	   width:60%;
	   left:30%;
	   text-align: right;
	   color: #fff;
	   padding: 20px 20px 20px 20px;
	   position:relative;
	   border:solid #FFF .14em;
	   
	}



	.center { margin: 0 auto; }
	.content{ margin: 0 auto; width: 100%; }
	.clear { clear: both; }

	#header {
	    width: 8%;
	    background-color:#fff;
	    height: 100%;
	    position: fixed;
	    min-width:85px;
	    max-width:85px;
	}

			@media screen and (max-width: 700px){
		#header{
			display:none;
			
		}
		
		h2{
			font-size:2.1em;
			left:80px;
			width:65%;
		}
		}



	.menu-btn div {
    position: absolute;
    left: 0%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
	}
	 
	.menu-btn span {
	    display: block;
	    width: 19px;
	    height: 3px;
	    margin: 4px 0;
	    background: white;
	    z-index: 99;
	    top:0px;
	}
	 
	.responsive-menu{
	    display: none;

	}
	 
	.expand {
	    display: block !important;
	    background-color:rgba(255,255,255,0.3);
	}




	#logo a { 
		color: #fff; 
		text-decoration: none; 
		float: left; 
		font-size: 30px; 
		margin-top: 20px; 
		color: #fff;
	}
	
	#nav ul{
	    list-style: none;
	    display: block;
	    margin: 0 auto;

	}
	 
	#nav li{
		position:relative;
	    top: 120px;
	    left:-5px;
	    padding-bottom:35px;
	}
	 
	#nav li a { color: #BFBDBD;}
	#nav li a.active { color: #BFBDBD; opacity:1; border-bottom: 2px solid #fff; }
	#nav li a:hover { color: #BFBDBD; opacity:1;  }



	
	#slide1{
	    background:url('images/background.svg') 100% 0 no-repeat fixed;
	    color: #fff;
	    width:100%;
	    height: 480px;
	    margin: 0;
	    padding: 200px 0 0;
	    background-size: cover;

	}

	 #cube{
		position:relative;
		margin: auto;
		bottom:100px;
	} 


	 
	#slide2{
	    background-color: #6eb6b7;
	    width:100%;
	    height: 600px;
	    margin: 0;
	    padding: 75px 0 150px;
	    overflow:hidden;
	    
	}

	#bike{
		display:none;
	}

			 @media screen and (max-width:770px) {

		 	#vancouverwrapper {
		 		display:none;
		 	}


			#bike{
				display:inline-block;
	}

		 }

		 @media screen and (max-width:400px){

			#bike{
				position:relative;
				bottom:22px;
			}
		 }


	#slide3{
	    background: url('images/background.svg') 100%;
	    color: #fff;
	    width:100%;
	    height: 750px;
	    padding: 100px 0 10px 0;
	    background-size: cover;
	}


	h4 {
		font-family: "Montserrat";
	    font-weight: normal;
		text-align:left;
		font-size:2.4em;
		width:100%;
		position:relative;
	}

	/* PORTFOLIO STARTS HERE */


	#gridcontainer{
		width:860px;
		height:700px;
		position:relative;
		bottom:100px;
		left:15px;
		margin:auto;
	} 

		.grid {
	    width: 900px;
	    margin: auto;
	    list-style: none;
	    text-align: center;
	    position:relative;
	    right:40px;
	    top:0px;
		}
	 
		.grid li {
	    display: inline-block;
	    width: 420px;
	    height:180px;
	    margin: auto;
	    padding: 0px 20px 20px 0px;
	    text-align: center;
	    position: relative;
	    left:0px;
	    float:left;
		}


		.grid figure {
		 margin: 0;
		 position: relative;
		}


		.grid figcaption {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width:50%;
	    height:98%;
	    padding: 0px;
	    background: #6eb6b7;
	    color: #fff;
	    opacity: 0.7;
		}

		figcaption h5 {
		font-family: "Montserrat";
	    font-weight: normal;
	    font-size:1em;
		position:relative;
		top:20px;
		}

		figcaption span {
		display: block;
		font-size:.8em;
		font-family: "Montserrat";
	    font-weight: normal;
	    position:relative;
	    top:20px;
		}

		.grid figcaption img {
		display:block;
		margin:auto;
		position:relative;
		bottom:23px;

		}

		.grid figcaption:hover{
		width:100%;
		height:100%;
		position:absolute;
		transition: transform 0.3s, opacity 0.3s;
		opacity: .8;
    	transform: translate(10px, 10px);
		}

		.grid figcaption:hover h5{
			font-size:1.5em;
		}

		@media screen and (min-width:500px) and (max-width:960px) {

				#slide3{
					height:800px;
				}

				#gridcontainer{
					width:600px;
					height:600px;
					} 
		 	
			 	.grid li{
					 width:330px;
					 display:block;
					 padding:0px 15px 20px 0px;

		 	}

		 		h4 {
				width:60%;
				left:6%;
			}

		 }






		 @media screen and (max-width:500px) {

		 		#slide3{
			    background: url('images/background.svg') 30%;
			    color: #fff;
			    width:100%;
			    background-size: cover;
			    margin:auto;
			    padding-bottom:115px;
			    overflow:hidden;
				}

		 		#ymca, #aleye-print {
		 		display:none;
		 		}

		 		#gridcontainer{
					width:400px;
					height:600px;
					padding:0px;
					left:0%;
					} 


			 	.grid{
			 		left:0%;
			 		margin:0;
			 		right:0px;
			 		position:relative;
			 		padding:0px;
			 		

			 	}
			 	.grid li{
			 		clear:left;
			 		width:40%;
			 		padding:0px 0px 0px 0px;

				}

				h4{
					width:60%;
					left:6%;
				}
			 }


	/* PORTFOLIO ENDS HERE */


	/* ABOUT STARTS HERE */
	#slide4{
	    background-color: #6eb6b7;
	    color: #333333;
	    width:100%;
	    height: 500px;
	    padding: 20px 0px 200px;
	     overflow:hidden;

	}

	#aboutwrapper{
		position:relative;
		height:110%;
		width:35%;
		left:10%;
		top:30px;
	}

	#decoborder{
		position:absolute;
		left:-2%;
		bottom:180px;
		width:104%;
		height:100%;

	}

	#slide4 h3 {
	   font-family: "Montserrat";
	   font-weight: normal;
	   font-size: 1.8em;
	   width:100%;
	   text-align: left;
	   position: absolute;
	   left:4%;
	   top:3%;
	   color: #fff;

	}

	#aboutinfo{
		width:100%;
		height:370px;
		position:absolute;
		top:200px;


	}
	
	#nerdywrapper{
		position:relative;
		width:100%;
		height:180px;
		padding-bottom:10px;

	}

	#funnywrapper{
		position:absolute;
		width:100%;
		height:120px;
		top:220px;
		}


	#nerdyfacts{
		color:white;
		position:relative;
		font-size:1.4em;
		font-family:"Montserrat";
		text-align: left;
		top:-50px;

	}

	#aboutinfo p {
		position:relative;
		color:white;
		font-family:"Montserrat";
		text-align: left;
		top:-80px;



	}

	#funfacts{
		color:white;
		position:relative;
		font-size:1.4em;
		font-family:"Montserrat";
		text-align: left;
		top:-50px;
	}


	#moi{
	    position:relative;
    	z-index:0;
    	right:0;
    	top:10%;
    	bottom:50%;
    	width:100%;
    	height:500px;
    	border:2px solid white;

	}

	#moiwrapper{
		position:absolute;
    	width:50%;
    	min-width:50%;
    	height:500px;
		right:0;
	}

	.nerdytext, .funtext{
		font-size:1em;
		letter-spacing: .5px;
		font-weight:100;
	}

	@media screen and (max-width:960px) {

			#moi{
		 		width:120%;
		 	}

		#aboutwrapper{
			left:13%;
		}

		#decoborder{
			display:none;
		}

		#slide4 h3{
			font-size:2em;
			left:0%;
		}

		.nerdytext, .funtext{
			font-size:.9em;
		}

		#aboutinfo{
			top:150px;
		}

		 }


		 @media screen and (max-width:690px) {

		 	#moiwrapper, #moi{
		 		width:100%;
		 	}

		 	#aboutwrapper{
		 		width:80%;
		 		left:0%;

		 	}
		 	#aboutinfo{
		 		background-color:rgba(110,182,182,0.7);

		 	}
		 }
@media screen and (max-width:400px){

			#moi,#moiwrapper{
				width:130%;
				height:100%;
			}

				#aboutwrapper{
		 		width:80%;
		 		top:80px;
		 		left:3%;
		 	}

		 	#funnywrapper{
		 		top:260px;
		 	}

		 	#aboutinfo{
		 		height:105%;
		 	}

		 	#slide4 {
		 		padding-top:0px;
		 	}
		 	#moi, #moiwrapper{
		 		border:0px;
		 	}

		 }

	/* CONTACT STARTS HERE */
	 
	#slide5{
	    background: url('images/background.svg')100% no-repeat fixed;
	    width:100%;
	    height: 200px;
	    margin: 0;
	    padding: 250px 0;
	    color: #fff;
	    background-size:cover;
	    overflow:hidden;
	  
	}

	#slide5 h3{
	   font-family: "Montserrat";
	   font-weight: normal;
	   font-size: 2.4em;
	   width:100%;
	   text-align: center;
	   padding: 0;
	   position: relative;
	   margin:auto;
	   top:34px;
	}



	#contact{
		position:relative;
		margin:auto;
		width:420px;
		height:120px;
		border:solid #FFF 6px;
		margin:auto;

	}


	#socialmediaicons{
		width:420px;
		height:140px;
		margin:auto;
		position:relative;
		left:30px;
		top:80px;
	}



@media screen and (max-width:690px){

	#slide5{
		background: url('images/background.svg') 30%;
		width:100%;
		background-size: cover;
	}

		#slide5 h3{
		font-size:2.1em;
		top:30px;

	}

	#contact{
		width:300px;
		height:100px;
	}

	#socialmediaicons{
		width:100%;
		left:8%;
		
	}

	#shadow-behance, #shadow-linkedin, #shadow-twitter{
	width:30%;

}
	

}



